* {
    margin: 0;
    padding: 0 ;
}


nav {
    background-color: grey;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    
}

nav ul {
    list-style-type: none;
}


.gamecontainer {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;

}

.container {
    display: grid;
    grid-template-rows:repeat(3, 10vw) ;
    grid-template-columns:repeat(3, 10vw) ;
    position: relative;

}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(238, 219, 255);

}

.gameInfo {
    padding: 0 34px;
}

.imgBox img {
    border-radius: 5px;
    width: 0;
    transition: width 1s ease-in-out;
}

.bl-0 {
    border-left: 0;
}

.br-0 {
    border-right: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset{
margin-top: 3px;
margin-left: 10px;
padding-left: 8px;
padding-right: 8px;
padding-top: 5px;
padding-bottom: 5px;
background-color: rgb(219, 153, 219);
border-radius: 5px;
cursor: pointer;
font-size: 20px;

}

.info {
    font-size: 2rem;
}

/* .line {
    background-color: black;
    width: 20vw;
    height: 3px;
    position: absolute;

} */